#who-i-am{
    background-color: var(--mainColor3);
    padding-top: 8vh;
}

#about-container{
    display: flex;
    margin-top: 8vh;
    width: 100%;
    gap: 4vw;
}

#brand-image{
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
        width: clamp(40px, 100%, 400px);
        max-height: 80%;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }
}

#my-desc{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4%;
    padding-bottom: 10vh;
    .name{
        font-weight: bold;
        font-size: clamp(20px, 4vw, 80px);
    }
    
    .desc{
        line-height: 140%;
    }
}

@media (max-width:700px) {
    #about-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        #my-desc{
            .name{
                font-size: 5vw;
            }
            .desc{
                font-size: 3vw;
            }
        }
    }
    
}