@keyframes dropdown{
    0%{
        transform: translateY(-100%);
    }
}

@keyframes slide-down {
    0%{
        transform: translateY(-400%);
    }
}

@keyframes slide-up {
    100%{
        transform: translateY(-400%);
    }
}