:root{
    --mainColor1:97, 97, 97;
    --mainColor2:53, 53, 53;
    --mainColor3:36, 36, 36;
    --mainColor4:59, 59, 59;
    --textColor1:245, 245, 245;
    --textColor2:54, 54, 54;
    --buttonColor1:15, 15, 15;
    --buttonColor2:31, 31, 31;
    --footerColor1:160, 160, 160;
    --footerColor2:224, 224, 224;
}