:root{
    --mainColor1:#616161;
    --mainColor2:#353535;
    --mainColor3:#242424;
    --mainColor4:#3b3b3b;
    --textColor1:whitesmoke;
    --textColor2:#363636;
    --buttonColor1:#0f0f0f;
    --buttonColor2:#1f1f1f;
}