footer{
    .footer-container{
        display: flex;
        height: 100%;
        background-color: black;
        padding: 4dvh 4vw;
        justify-content: space-between;

        .contacts{
            display: flex;
            h2{
                color: rgb(var(--footerColor1));
                cursor: pointer;
            }
            div{
                width: 100%;
            }
    
            ul{
                flex-direction: column;
            }

            li{
                cursor: pointer;
                margin-top: 2%;
                padding: 10px;
                padding-left: 2%;
                list-style: none;
                display: flex;
                align-items: center;
                gap: 10px;
                &:hover{
                    background-color: rgba(var(--mainColor2), 0.4 );
                }
            }
        }
        .contact-list{
            flex: 1;
            li{
                margin-top: 2%;
                list-style: none;
                padding: 0;
                &:hover{
                    background-color: initial;
                }
                a{
                    cursor: pointer;
                    padding: 10px;
                    padding-left: 2%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    &:hover{
                        background-color: rgba(var(--mainColor2), 0.4 );
                    }
                }
            }
        }

        .pfp{
            flex: 1;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: right;
            img{
                aspect-ratio: 1/1;
                object-fit: cover;
                object-position: top;
                border-radius: 50%;
            }
        }
    }
}


@media (max-width:700px) {
    .footer-container{
        flex-direction: column;

        .contacts{
            flex-direction: column;
            position: relative;
            div{
                margin-bottom: 2%;
            }
            .find-me-on, .contact-me{
                overflow: hidden;
                h2{
                    position: relative;
                    background-color: black;
                    z-index: 2;
                    border-bottom: 1px solid rgb(var(--footerColor1)); 
                }
                
                ul{
                    transition: all 0.12s;
                    position: relative;
                    display: none;
                    opacity: 0;
                    z-index: 1;
                }
            }
        }

        .pfp{
            img{
                width: max(40px, 15%);
                height: min(5%, 20px);
            }
        }
    }
}

@media (min-width:700.5px) {
    .footer-container{
        flex-direction: row;
        .contacts{
            width: 80%;
            flex-direction: row;
            justify-content: left;

            div{
                width: 100%;
            }
        }

        .pfp{
            img{
                width: 50%;
                aspect-ratio: 1/1;
                
        box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2), 
                    0 0 20px 10px rgba(0, 225, 255, 0.151);
            }
        }
    }
}