#my-services{
    background-color: var(--mainColor2);
}

#services-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4vh;
    
    .services{
        display:flex;
        flex-direction: column;
        gap: 2vh;
            
        .service{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2vh;

            h3{
                color: red;
            }
            
            p{
                margin-left: 2vw;
            }
        }
    
    }

}