#my-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2dvh;
    #skills-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2dvh;
        width: 100%;
        
    }
    h2{
        text-align: center;
    }

    .skills{
        .skill{
            cursor: default;
            user-select: none;
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 18px;
            background-color: rgb(90, 90, 90);
            border-radius: 14px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), 
                        -4px -4px 10px rgba(255, 255, 255, 0.1);
            transition: all 0.12s ease;

            *{
                transition: all 0.3s ease;
            }
            .skill-icon{
                border-radius: 10px;
                flex: 1;
                height: 100%;
                padding: 10px;
                svg{
                    width: 100%;
                    height: 100%;
                }
            }
            .skill-desc{
                flex: 4;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
            }
            .skill-level{
                display: flex;
                flex-direction: column;
                gap: 4px;
                .skill-level-text{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
                .skill-level-prog{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .skill-level-bar{
                        width: 100%;
                        height: 10px;
                        background-color: rgba(255, 255, 255, 0.2);
                        border-radius: 5px;
                        overflow: hidden;
                        position: relative;
                        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),
                                    inset 0 0 10px rgba(255, 255, 255, 0.158),
                                    2px 2px 5px rgba(0, 0, 0, 0.4),
                                    -2px -2px 5px rgba(255, 255, 255, 0.2);
                        
                        
                        .skill-level-progress{
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            background-color: #fff;
                            width: 0%; /* This will be set dynamically */
                            transition: width 0.3s ease;
                        }
                    }
                }
                
            }
        }
        .html-skill{
            &:hover{
                background-color: rgba(255, 0, 0, 0.342);
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), 
                            -4px -4px 10px rgba(255, 255, 255, 0.158);
                
                .skill-icon{                    
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), 
                                -10px -10px 20px rgba(255, 255, 255, 0.158);
                }
            }   
        }
        
        .css-skill{
            &:hover{
                background-color: rgba(0, 26, 255, 0.342);
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), 
                            -4px -4px 10px rgba(255, 255, 255, 0.158);
                
                .skill-icon{
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), 
                                -10px -10px 20px rgba(255, 255, 255, 0.158);
                }
            }   
        }
        
        .js-skill{
            &:hover{
                background-color: rgba(255, 217, 0, 0.342);
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), 
                            -4px -4px 10px rgba(255, 255, 255, 0.158);
                
                .skill-icon{
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), 
                                -10px -10px 20px rgba(255, 255, 255, 0.158);
                }
            }   
        }
        .react-skill{
            &:hover{
                background-color: rgba(0, 225, 255, 0.342);
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), 
                            -4px -4px 10px rgba(255, 255, 255, 0.158);
                
                .skill-icon{
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), 
                                -10px -10px 20px rgba(255, 255, 255, 0.158);
                }
            }   
        }
    }
}

@media (max-width:800px) {
    .skills{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
}


@media (min-width:800.5px) {
    .skills{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 40px;
    }
}